benchmark-repository/wadl/api.fitbit.com.wadl

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:apigee="http://api.apigee.com/wadl/2010/07/" 
  xmlns="http://wadl.dev.java.net/2009/02"
  xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

  <resources base="http://api.fitbit.com/1">

    <resource path="/user/{user-id}/profile.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      <param name="user-id" type="xsd:string" style="template" required="true" default="-">
        <option value="-"/>
      </param>
      <method id="get-user-info" name="GET" apigee:displayName="Get User Info">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">PROFILE</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/user/{user-id}/profile.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Get-User-Info">Get user's profile in the format requested using units in the unit system which corresponds to the Accept-Language header provided.</doc>
      </method>
    </resource>

    <resource path="/user/-/profile.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>

      <method id="update-user-info" name="POST" apigee:displayName="Update User Info">
        <apigee:tags>
          <apigee:tag primary="true">PROFILE</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true" />
        <apigee:example url="/user/-/profile.{format}?gender=FEMALE" />

        <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Update-User-Info">Update user's profile using units in the unit system that corresponds to the Accept-Language header provided and get a response in the format requested.</doc>
      </method>
    </resource>
    
    <resource path="/user/{user-id}/body/date/{date}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      <param name="user-id" type="xsd:string" style="template" required="true" default="-">
        <option value="-"/>
      </param>
      <param name="date" type="xsd:string" style="template" required="true" default="-">
        <option value="2011-07-06"/>
      </param>
      <method id="get-body-measurements" name="GET" apigee:displayName="Get Body Measurements">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">BODY</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/user/{user-id}/body/date/{date}.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Get-Body-Measurements">Get a summary of a user's body measurements for a given day in the format requested using units in the unit system which corresponds to the Accept-Language header provided.</doc>
      </method>
    </resource>
    
    <resource path="/user/{user-id}/activities/date/{date}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      <param name="user-id" type="xsd:string" style="template" required="true" default="-">
        <option value="-"/>
      </param>
      <param name="date" type="xsd:string" style="template" required="true" default="-">
        <option value="2011-07-06"/>
      </param>
      <method id="get-activities" name="GET" apigee:displayName="Get Activities">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">ACTIVITIES</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/user/{user-id}/activities/date/{date}.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Get-Activities">Get a summary and list of a user's activities and activity log entries for a given day in the format requested using units in the unit system which corresponds to the Accept-Language header provided.</doc>
      </method>
    </resource>

    <resource path="/user/{user-id}/foods/log/date/{date}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      <param name="user-id" type="xsd:string" style="template" required="true" default="-">
        <option value="-"/>
      </param>
      <param name="date" type="xsd:string" style="template" required="true" default="-">
        <option value="2011-07-06"/>
      </param>
      <method id="get-foods" name="GET" apigee:displayName="Get Foods">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">FOODS</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/user/{user-id}/foods/log/date/{date}.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Get-Foods">Get a summary and list of a user's food log entries for a given day in the format requested.</doc>
      </method>
    </resource>
    

   <resource path="/user/{user-id}/sleep/date/{date}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      <param name="user-id" type="xsd:string" style="template" required="true" default="-">
        <option value="-"/>
      </param>
      <param name="date" type="xsd:string" style="template" required="true" default="-">
        <option value="2011-07-06"/>
      </param>
      <method id="get-sleep" name="GET" apigee:displayName="Get Sleep">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">SLEEP</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/user/{user-id}/sleep/date/{date}.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Get-Sleep">Get a summary and list of a user's sleep log entries for a given day in the format requested. Endpoint returns summary for all sleep log entries for the given day (including naps). If you need data only for the main sleep you can fetch entry with "isMainSleep" = true or use Get-Time-Series calls.</doc>
      </method>
    </resource>   

   <resource path="/user/-/heart/date/{date}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      <param name="user-id" type="xsd:string" style="template" required="true" default="-">
        <option value="-"/>
      </param>
      <param name="date" type="xsd:string" style="template" required="true" default="2011-07-06">
        <option value="2011-07-06"/>
      </param>
      <method id="get-heart-rate" name="GET" apigee:displayName="Get Heart Rate">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">HEART</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/user/-/heart/date/{date}.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Get-Heart-Rate">Get an average values and a list of user's heart rate log entries for a given day in the format requested. Heart rate data available only to the authorized user. Heart rate log entries in response are sorted exactly the same as they are presented on the Fitbit website. We always include all heart rate trackers in the "average" section of the response body (with zero average values for the days with no measurements) to allow to seamlessly fetch a list of all additional user created custom trackers.</doc>
      </method>
    </resource>          

  
   <resource path="/user/-/bp/date/{date}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      <param name="user-id" type="xsd:string" style="template" required="true" default="-">
        <option value="-"/>
      </param>
      <param name="date" type="xsd:string" style="template" required="true" default="2011-07-06">
        <option value="2011-07-06"/>
      </param>
      <method id="get-blood-pressure" name="GET" apigee:displayName="Get Blood Pressure">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">BP</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/user/-/bp/date/{date}.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Get-Blood-Pressure">Get an average value and a list of user's blood pressure log entries for a given day in the format requested. Blood pressure log entries are available only to authorized user. Blood pressure log entries in response are sorted exactly the same as they are presented on the Fitbit website.</doc>
      </method>
    </resource>  
    
    
   <resource path="/user/-/glucose/date/{date}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      <param name="user-id" type="xsd:string" style="template" required="true" default="-">
        <option value="-"/>
      </param>
      <param name="date" type="xsd:string" style="template" required="true" default="2011-07-06">
        <option value="2011-07-06"/>
      </param>
      <method id="get-glucose" name="GET" apigee:displayName="Get Glucose">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">GLUCOSE</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/user/-/glucose/date/{date}.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Get-Glucose">Get a list of user's blood glucose and HbA1C measurements for a given day in the format requested using units in the unit system which corresponds to the Accept-Language header provided. Glucose measurement log entries are available only to authorized user. We always include all glucose trackers in the response body (with zero glucose value for the days with no measurements) to allow to seamlessly fetch a list of all additional user created custom trackers.</doc>
      </method>
    </resource>          
    
    
   <resource path="/user/{user-id}/friends.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      <method id="get-friends" name="GET" apigee:displayName="Get Friends">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">SOCIAL</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/user/{user-id}/friends.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Get-Friends">Get user's friends in the format requested using units in the unit system which corresponds to the Accept-Language header provided.</doc>
      </method>
    </resource> 
    
   <resource path="/user/-/friends/leaders/{period}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      <method id="get-friends-leaderboard" name="GET" apigee:displayName="Get Friends Leaderboard">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">SOCIAL</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/user/-/friends/leaders/7d.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Get-Friends">Get a leaderboard of user's friends progress in the format requested using units in the unit system which corresponds to the Accept-Language header provided. Authorized user himself is also included in the response.</doc>
      </method>
    </resource>              
    
    <resource path="/user/-/activities.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>

      <method id="log-activity" name="POST" apigee:displayName="Log Activity">
        <apigee:tags>
          <apigee:tag primary="true">ACTIVITIES</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true" />
        <apigee:example url="/user/-/activities.{format}?activityId=90009&amp;startTime=12:20&amp;durationMillis=600000&amp;date=2011-07-11&amp;distance=1.5" />

        <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Log-Activity">Create log entry for an activity using units in the unit system which corresponds to the Accept-Language header provided (or using optional custom distanceUnit).</doc>
      </method>
    </resource>
    
    <resource path="/user/-/foods/log.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>

      <method id="log-food" name="POST" apigee:displayName="Log Food">
        <apigee:tags>
          <apigee:tag primary="true">FOODS</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true" />
        <apigee:example url="/user/-/foods/log.{format}?foodId=30414&amp;mealTypeId=1&amp;unitId=147&amp;amount=1&amp;date=2011-07-06" />

        <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Log-Food">Create log entry for a food. You need to select one of the unit ids to create a food log entry. It is possible to fetch unit ids allowed for specific food via previous calls to endpoints that retrieve food lists of the user. Each unit id maps to a unit in the list returned via the Get Food Units API call.</doc>
      </method>
    </resource> 

 
    
    <resource path="/user/-/sleep.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>

      <method id="log-sleep" name="POST" apigee:displayName="Log Sleep">
        <apigee:tags>
          <apigee:tag primary="true">SLEEP</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true" />
        <apigee:example url="/user/-/sleep.{format}?startTime=08:20&amp;duration=24000000&amp;date=2011-07-06" />

        <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Log-Sleep">Create log entry for a sleep and get a response in the format requested.</doc>
      </method>
    </resource> 

    <resource path="/user/-/heart.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>

      <method id="log-heart-rate" name="POST" apigee:displayName="Log Heart Rate">
        <apigee:tags>
          <apigee:tag primary="true">HEART</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true" />
        <apigee:example url="/user/-/heart.{format}?tracker=Running&amp;heartRate=80&amp;date=2011-07-06" />

        <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Log-Heart-Rate">Create log entry for a heart rate measurement and get a response in the format requested.</doc>
      </method>
    </resource>    
    

    <resource path="/user/-/bp.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>

      <method id="log-blood-pressure" name="POST" apigee:displayName="Log Blood Pressure">
        <apigee:tags>
          <apigee:tag primary="true">BP</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true" />
        <apigee:example url="/user/-/bp.{format}?systolic=120&amp;diastolic=80&amp;date=2011-07-06" />

        <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Log-Blood-Pressure">Create log entry for a blood pressure measurement and get a response in the format requested.</doc>
      </method>
    </resource>     

    <resource path="/user/-/glucose.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>

      <method id="log-glucose" name="POST" apigee:displayName="Log Glucose">
        <apigee:tags>
          <apigee:tag primary="true">GLUCOSE</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true" />
        <apigee:example url="/user/-/glucose.{format}?hba1c=4.5&amp;tracker=Afternoon&amp;glucose=3&amp;time=12:30&amp;date=2011-07-06" />

        <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Log-Glucose">Create log entry for a blood glucose measurement and/or HbA1c using units in the unit system which corresponds to the Accept-Language header provided and get a response in the format requested.</doc>
      </method>
    </resource> 
    
    <resource path="/user/-/foods/log/{food-log-id}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>

      <method id="delete-food-log" name="DELETE" apigee:displayName="Delete Food Log">
        <apigee:tags>
          <apigee:tag primary="true">FOODS</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true" />
        <apigee:example url="/user/-/foods/log/{food-log-id}.{format}" />

        <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Delete-Food-Log">Delete the user's food log entry with the given id.</doc>
      </method>
    </resource>               


    <resource path="/user/-/activities/{activity-log-id}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>

      <method id="delete-activity-log" name="DELETE" apigee:displayName="Delete Activity Log">
        <apigee:tags>
          <apigee:tag primary="true">ACTIVITIES</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true" />
        <apigee:example url="/user/-/activites/{activity-log-id}.{format}" />

        <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Delete-Activity-Log">Delete user's activity log entry with the given id.</doc>
      </method>
    </resource>
    
    <resource path="/user/-/activities.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>

      <method id="get-activity-stats" name="GET" apigee:displayName="Get Activity Stats">
        <apigee:tags>
          <apigee:tag primary="true">ACTIVITIES</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true" />
        <apigee:example url="/user/-/activities.{format}" />

        <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Get-Activity-Stats">Get user's activity statistics in the format requested using units in the unit system which corresponds to the Accept-Language header provided. Response contains both lifetime statistics from the tracker device and total numbers including the manual activity log entries as seen on the Fitbit website dashboard. </doc>
      </method>
    </resource>    

    <resource path="/user/-/sleep/{sleep-log-id}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>

      <method id="delete-sleep-log" name="DELETE" apigee:displayName="Delete Sleep Log">
        <apigee:tags>
          <apigee:tag primary="true">SLEEP</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true" />
        <apigee:example url="/user/-/sleep/{sleep-log-id}.{format}" />

        <doc title="" apigee:url="http://wiki.fitbit.com/display/API/Delete-Sleep-Log">Delete user's sleep log entry with the given id.</doc>
      </method>
    </resource>  
    
    <resource path="/user/-/heart/{heart-log-id}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>

      <method id="delete-heart-rate-log" name="DELETE" apigee:displayName="Delete Heart Rate Log">
        <apigee:tags>
          <apigee:tag primary="true">HEART</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true" />
        <apigee:example url="/user/-/heart/{heart-log-id}.{format}" />

        <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Delete-Heart-Rate-Log">Delete user's heart rate log entry with the given id.</doc>
      </method>
    </resource>  
    
    <resource path="/user/-/bp/{bp-log-id}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>

      <method id="delete-blood-pressure-log" name="DELETE" apigee:displayName="Delete Blood Pressure Log">
        <apigee:tags>
          <apigee:tag primary="true">BP</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true" />
        <apigee:example url="/user/-/bp/{bp-log-id}.{format}" />

        <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Delete-Blood-Pressure-Log">Delete user's blood pressure log entry with the given id.</doc>
      </method>
    </resource>     
    
    <resource path="/user/{user-id}/activities/log/calories/date/{start-date|end-date}/{end-date|period}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      <method id="get-time-series-activities" name="GET" apigee:displayName="Get Time Series">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">ACTIVITIES</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/user/{user-id}/activities/log/calories/date/{end-date}/7d.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Get-Time-Series">Get time series in the specified range for a given resource in the format requested using units in the unit system which corresponds to the Accept-Language header provided.</doc>
      </method>
    </resource> 
    
    <resource path="/user/{user-id}/body/weight/date/{start-date|end-date}/{end-date|period}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      <method id="get-time-series-body" name="GET" apigee:displayName="Get Time Series">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">BODY</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/user/{user-id}/body/weight/date/{end-date}/7d.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Get-Time-Series">Get time series in the specified range for a given resource in the format requested using units in the unit system which corresponds to the Accept-Language header provided.</doc>
      </method>
    </resource> 
    
    <resource path="/user/-/body.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>

      <method id="log-body-measurements" name="POST" apigee:displayName="Log Body Measurements">
        <apigee:tags>
          <apigee:tag primary="true">BODY</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true" />
        <apigee:example url="/user/-/body.{format}?date=2011-10-27&amp;weight=150&amp;fat=14.4" />

        <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Log-Body-Measurements">Log body measurements using units in the unit system that corresponds to the Accept-Language header provided.</doc>
      </method>
    </resource>

    <resource path="/user/{user-id}/foods/log/caloriesIn/date/{start-date|end-date}/{end-date|period}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      <method id="get-time-series-foods" name="GET" apigee:displayName="Get Time Series">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">FOODS</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/user/{user-id}/foods/log/caloriesIn/date/{end-date}/7d.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Get-Time-Series">Get time series in the specified range for a given resource in the format requested using units in the unit system which corresponds to the Accept-Language header provided.</doc>
      </method>
    </resource>     
 
 
    <resource path="/user/{user-id}/sleep/minutesAsleep/date/{start-date|end-date}/{end-date|period}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      <method id="get-time-series-sleep" name="GET" apigee:displayName="Get Time Series">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">SLEEP</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/user/{user-id}/sleep/minutesAsleep/date/{end-date}/7d.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Get-Time-Series">Get time series in the specified range for a given resource in the format requested using units in the unit system which corresponds to the Accept-Language header provided.</doc>
      </method>
    </resource> 

    <resource path="/user/-/activities/recent.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      <method id="get-recent-activities" name="GET" apigee:displayName="Get Recent Activities">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">ACTIVITIES</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/user/-/activities/recent.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Get-Recent-Activities">Get a list of a user's recent activities in the format requested using units in the unit system which corresponds to the Accept-Language header provided. A recent activity record contains the distance and duration values recorded the last time the activity was logged. The record retrieved can therefore be used to log the activity via the Log Activity with the same or adjusted values for distance and duration.</doc>
      </method>
    </resource> 

    <resource path="/user/-/activities/frequent.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      <method id="get-frequent-activities" name="GET" apigee:displayName="Get Frequent Activities">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">ACTIVITIES</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/user/-/activities/frequent.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Get-Frequent-Activities">Get a list of a user's frequent activities in the format requested using units in the unit system which corresponds to the Accept-Language header provided. A frequent activity record contains the distance and duration values recorded the last time the activity was logged. The record retrieved can therefore be used to log the activity via the Log Activity with the same or adjusted values for distance and duration.</doc>
      </method>
    </resource> 
    
    <resource path="/user/-/activities/favorite.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      <method id="get-favorite-activities" name="GET" apigee:displayName="Get Favorite Activities">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">ACTIVITIES</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/user/-/activities/favorite.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Get-Recent-Activities">Get a list of a user's favorite activities in the format requested. A user marks an activity as favorite on the user's Activities Tab. The activity ids in the list can be used to create a new activity log entry via the Log Activity.</doc>
      </method>
    </resource>     

    <resource path="/user/-/foods/log/recent.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      <method id="get-recent-foods" name="GET" apigee:displayName="Get Recent Foods">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">FOODS</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/user/-/foods/log/recent.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Get-Recent-Foods">Get a list of a user's recent foods in the format requested. A recent food provides a quick way to log the food via the Log Food endpoint.</doc>
      </method>
    </resource> 

    <resource path="/user/-/foods/log/frequent.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      <method id="get-frequent-foods" name="GET" apigee:displayName="Get Frequent Foods">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">FOODS</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/user/-/foods/log/frequent.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Get-Frequent-Foods">Get a list of a user's frequent foods in the format requested. A frequent food in the list provides a quick way to log the food via the Log Food endpoint.</doc>
      </method>
    </resource> 
    
    <resource path="/user/-/activities/favorite.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      <method id="get-favorite-foods" name="GET" apigee:displayName="Get Favorite Foods">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">FOODS</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/user/-/foods/log/favorite.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Get-Favorite-Foods">Get a list of a user's favorite foods in the format requested. A user marks a food as favorite on the user's Food Tab tab. A favorite food in the list provides a quick way to log the food via the Log Food endpoint.</doc>
      </method>
    </resource>   
    
    <resource path="/user/-/activities/log/favorite/{id}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>

      <method id="add-favorite-activity" name="POST" apigee:displayName="Add Favorite Activity">
        <apigee:tags>
          <apigee:tag primary="true">ACTIVITIES</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true" />
        <apigee:example url="/user/-/activities/log/favorite/90009.{format}" />

        <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Add-Favorite-Activity">Adds the activity with the given id to user's list of favorite activities.</doc>
      </method>
    </resource>  
    
    <resource path="/user/-/activities/log/favorite/{id}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>

      <method id="delete-favorite-activity" name="DELETE" apigee:displayName="Delete Favorite Activity">
        <apigee:tags>
          <apigee:tag primary="true">ACTIVITIES</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true" />
        <apigee:example url="/user/-/activities/log/favorite/90009.{format}" />

        <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Delete-Favorite-Activity">Delete the activity with the given id from user's list of favorite activities.</doc>
      </method>
    </resource>          

    <resource path="/user/-/foods/log/favorite/{id}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>

      <method id="add-favorite-food" name="POST" apigee:displayName="Add Favorite Food">
        <apigee:tags>
          <apigee:tag primary="true">FOODS</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true" />
        <apigee:example url="/user/-/foods/log/favorite/30414.{format}" />

        <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Add-Favorite-Food">Add the food with the given id to user's list of favorite foods.</doc>
      </method>
    </resource>  
    
    <resource path="/user/-/foods/log/favorite/{id}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>

      <method id="delete-favorite-food" name="DELETE" apigee:displayName="Delete Favorite Food">
        <apigee:tags>
          <apigee:tag primary="true">FOODS</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true" />
        <apigee:example url="/user/-/foods/log/favorite/30414.{format}" />

        <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Delete-Favorite-Food">Delete the food with the given id from user's list of favorite foods.</doc>
      </method>
    </resource> 
    
    <resource path="/user/-/foods/log/water/date/{date}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      <param name="date" type="xsd:string" style="template" required="true" default="-">
        <option value="2011-07-06"/>
      </param>
      <method id="get-water" name="GET" apigee:displayName="Get Water">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">FOODS</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/user/-/foods/log/water/date/{date}.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Get-Water">Get a summary and list of a user's water log entries for a given day in the format requested using units in the unit system which corresponds to the Accept-Language header provided.</doc>
      </method>
    </resource> 
    
    
    <resource path="/user/-/foods/log/water.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>

      <method id="log-water" name="POST" apigee:displayName="Log Water">
        <apigee:tags>
          <apigee:tag primary="true">FOODS</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true" />
        <apigee:example url="/user/-/foods/log/water.{format}?amount=300&amp;date=2011-07-06" />

        <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Log-Water">Create log entry for a water using units in the unit system that corresponds to the Accept-Language header provided (or waterUnit) and get a response in the format requested.</doc>
      </method>
    </resource>     

    <resource path="/user/-/foods/log/water/{water-log-id}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>

      <method id="delete-water-log" name="DELETE" apigee:displayName="Delete Water Log">
        <apigee:tags>
          <apigee:tag primary="true">FOODS</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true" />
        <apigee:example url="/user/-/foods/log/water/{water-log-id}.{format}" />

        <doc title="" apigee:url="http://wiki.fitbit.com/display/API/Delete-Water-Log">Delete user's water log entry with the given id.</doc>
      </method>
    </resource>       
    
    <resource path="/foods.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>

      <method id="create-food" name="POST" apigee:displayName="Create Food">
        <apigee:tags>
          <apigee:tag primary="true">FOODS</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true" />
        <apigee:example url="/foods.{format}?name=Icecream,big&amp;defaultFoodMeasurementUnitId=147&amp;defaultServingSize=1&amp;calories=500" />

        <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Create-Food">Create new private food for a user and get a response in a format requested. Created private food could be found in results of Search Foods call.</doc>
      </method>
    </resource>     

    <resource path="/user/-/devices.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      <method id="get-devices" name="GET" apigee:displayName="Get Devices">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">DEVICES</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/user/-/devices.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Get-Devices">Retrieve the list of Fitbit devices for a user in the format requested.</doc>
      </method>
    </resource>

    <resource path="/activities.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      <method id="browse-activities" name="GET" apigee:displayName="Browse Activities">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">GENERAL</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/activities.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Browse-Activities">Get a tree of all valid Fitbit public activities from the activities catalog as well as private custom activities the user created in the format requested. If activity has levels, also get a list of activity level details.</doc>
      </method>
    </resource>
    
    
    <resource path="/activities/{id}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      <method id="get-activity" name="GET" apigee:displayName="Get Activity">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">GENERAL</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/activities/90009.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Get-Activity">Get the details of a specific activity in Fitbit activities database in the format requested. If activity has levels, also get list of activity level details.</doc>
      </method>
    </resource>
    
    <resource path="/foods/search.{format}?query={query}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      <param name="query" type="xsd:string" style="template" required="true" default="Icecream">
        <option value="Icecream" />
      </param>
      
      <method id="search-foods" name="GET" apigee:displayName="Search Foods">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">GENERAL</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/foods/search.{format}?query=Icecream" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Get-Activity">Given a search query, get a list of public foods from Fitbit foods database and private foods the user created in the format requested.</doc>
      </method>
    </resource>
    
    <resource path="/foods/{food-id}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      
      <method id="get-food" name="GET" apigee:displayName="Get Food">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">GENERAL</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/foods/30414.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Get-Food">Get the details of a specific food in Fitbit Food database (or private food for the user) in the format requested. Note, that nutritional values currently included in response only for the private foods.</doc>
      </method>
    </resource>

    
    <resource path="/foods/units.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      
      <method id="get-food-units" name="GET" apigee:displayName="Get Food Units">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">GENERAL</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/foods/units.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Get-Food-Units">Get list of all valid Fitbit food units in the format requested.</doc>
      </method>
    </resource>
    
    <resource path="/user/-/friends/invitations.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>

      <method id="create-invite" name="POST" apigee:displayName="Create Invite">
        <apigee:tags>
          <apigee:tag primary="true">SOCIAL</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true" />
        <apigee:example url="/user/-/friends/invitations.{format}?invitedUserEmail={invitedUserEmail}" />

        <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Create-Invite">Invite a user to become friends with authorized user. If you provide invitedUserEmail parameter with the request, standard friendship invitation email will be sent to the invited user, that he can accept later. Contrary, invitedUserId parameter creates an invite silently, so it could only be fetched through the Get Invites endpoint. You can accept or reject both invitation types on behalf of the authorized user via Accept Invite API call.</doc>
      </method>
    </resource> 
    
    <resource path="/user/-/friends/invitations/{from-user-id}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>

      <method id="accept-invite" name="POST" apigee:displayName="Accept/Reject Invite">
        <apigee:tags>
          <apigee:tag primary="true">SOCIAL</apigee:tag>
        </apigee:tags>
        <apigee:authentication required="true" />
        <apigee:example url="/user/-/friends/invitations/{from-user-id}.{format}?accept=true" />

        <doc title="" apigee:url="http://wiki.fitbit.com/display/API/API-Accept-Invite">Accept or reject an invite to become friends with inviting user.</doc>
      </method>
    </resource>     
    
       
    
    <resource path="/user/-/{collection-path}/apiSubscriptions/{subscription-id}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      
      <method id="add-subscription" name="POST" apigee:displayName="Add Subscription">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">SUBSCRIPTIONS-API</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/user/-/apiSubscriptions/{subscription-id}.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/Subscriptions-API#Subscriptions-API-Addasubscription">Add a subscription for the user to get notifications and get a response in the format requested.</doc>
      </method>
    </resource>      
    
    <resource path="/user/-/{collection-path}/apiSubscriptions/{subscription-id}.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      
      <method id="remove-subscription" name="DELETE" apigee:displayName="Remove Subscription">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">SUBSCRIPTIONS-API</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/user/-/apiSubscriptions/{subscription-id}.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/Subscriptions-API#Subscriptions-API-Removeasubscription">Delete a subscription for the user and get a response in the format requested.</doc>
      </method>
    </resource>   
    
    <resource path="/user/-/{collection-path}/apiSubscriptions.{format}">
      <param name="format" type="xsd:string" style="template" required="true" default="xml">
        <option value="xml" mediaType="application/xml"/>
      	<option value="json" mediaType="application/json"/>
      </param>
      
      <method id="get-subscriptions" name="GET" apigee:displayName="Get Subscriptions">

        <!-- Tags are used to organize the list of methods. Primary tag will list the default placement. -->
        <apigee:tags>
          <apigee:tag primary="true">SUBSCRIPTIONS-API</apigee:tag>
        </apigee:tags>

        <!-- Is authentication required for this method? -->
        <apigee:authentication required="true" />

        <!-- Example element is used to specify the sample URL to display in the Console's request URL field. -->
        <apigee:example url="/user/-/apiSubscriptions.{format}" />

        <!-- The content of the doc element is shown as a tooltip in the Console's method list. -->
	    <doc title="" apigee:url="http://wiki.fitbit.com/display/API/Subscriptions-API#Subscriptions-API-Listexistingsubscriptions">Get a list of user's subscriptions for your application in the format requested.</doc>
      </method>
    </resource>            


              
    
  </resources>
</application>
