benchmark-repository/wadl/google-webfonts.wadl.xml

<?xml version="1.0" encoding="UTF-8"?>

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

	<resources base="https://www.googleapis.com/webfonts/v1">
		<resource path="webfonts">
			<param name="sort" type="xsd:string" style="query" required="false">
				<doc><![CDATA[Enables sorting of the list.]]></doc>
				<option value="alpha" />
				<option value="date" />
				<option value="popularity" />
				<option value="style" />
				<option value="trending" />
			</param>
			
			<param name="fields" type="xsd:string" style="query" required="false">
				<doc><![CDATA[Selector specifying which fields to include in a partial response.]]></doc>
			</param>
			
			<method id="webfonts.list" name="GET" apigee:displayName="Get Web Fonts">
				<apigee:tags>
					<apigee:tag primary="true">Google Web Fonts</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="true" />
				
				<apigee:example url="webfonts" />

				<doc apigee:url="http://code.google.com/intl/en/apis/webfonts/docs/developer_api.html#Example">
					<![CDATA[Retrieves the list of fonts.]]>
				</doc>
			</method>
		</resource>
	</resources>
</application>